@model List<Models.Iletisim>
@{
    Layout = "_AdminLayout";
    var turkceAylar = new[] { "", "Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara" };
}
<style>
    /* Yalnızca okunmayan (H) olan satırlar için */
    .email-list .message.unread,
    .email-list .message.unread a,
    .email-list .message.unread .subject,
    .email-list .message.unread .date {
        color: #0b3d91;       /* koyu mavi */
        font-weight: 700;     /* istersen kaldırabilirsin */
        text-decoration: none;
    }
</style>

<div class="email-right-box ml-0 ml-sm-4 ml-sm-0">
    <div role="toolbar" class="toolbar ml-4 ml-sm-0">
        <div class="btn-group mb-4">
            <span class="btn btn-dark ml-3">
                <input type="checkbox">
            </span>
            <button class="btn btn-dark" type="button">
                <i class="ti-reload"></i>
            </button>
        </div>
    </div>

    <div class="email-list mt-4">
        @foreach (var item in Model)
        {
            var tarih = item.OlusturmaTarihi;
            string gosterilecekZaman;

            if (tarih.Date == DateTime.Today)
                gosterilecekZaman = tarih.ToString("HH:mm");
            else
                gosterilecekZaman = $"{tarih.Day} {turkceAylar[tarih.Month]}";

            var onizleme = (item.Mesaj?.Length ?? 0) > 150
            ? item.Mesaj.Substring(0, 150) + "…"
            : item.Mesaj ?? "";

            var satirSinifi = item.Okundu == "H" ? "unread" : "";

            <div class="message @satirSinifi">
                <div>
                    <div class="d-flex message-single">
                        <div class="custom-control custom-checkbox pl-4">
                            <input type="checkbox" />
                        </div>
                        <div class="ml-2">
                            <button class="border-0 bg-transparent align-middle p-0">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <a href="@Url.Action("EmailRead","Admin", new { id = item.IletisimID })"
                       class="col-mail col-mail-2">
                        <div class="subject">@onizleme</div>
                        <div class="date">@gosterilecekZaman</div>
                    </a>
                </div>
            </div>
        }

    </div>

    <!-- panel -->
    <div class="row mt-4 m-4 mx-sm-4">
        <div class="col-7">
            <div class="text-left">1 - 20 of 568</div>
        </div>
        <div class="col-5">
            <div class="btn-group float-right">
                <button class="btn btn-dark" type="button">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="btn btn-dark" type="button">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
