@{
    Layout = "_AdminLayout";
    @model List<Models.Iletisim>
    var turkceAylar = new[] { "", "Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara" };
}


<div class="container-fluid">
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="email-left-box px-0 mb-5">
                        <div class="mail-list mt-4">
                            <a asp-controller="Admin" asp-action="Admin" class="list-group-item active">
                                <i class="fa fa-inbox font-18 align-middle mr-2"></i>Gelen Kutusu<span class="badge badge-primary badge-sm float-right">198</span>
                            </a>
                            <a href="javascript:void()" class="list-group-item">
                                <i class="fa fa-star font-18 align-middle mr-2"></i>Yıldızlı <span class="badge badge-danger text-white badge-sm float-right">47</span>
                            </a>
                            <a href="javascript:void()" class="list-group-item">
                                <i class="fa fa-trash font-18 align-middle mr-2"></i>Çöp Kutusu
                            </a>
                        </div>
                        
                    </div>
                    <div class="email-right-box ml-0 ml-sm-4 ml-sm-0">
                        <div role="toolbar" class="toolbar ml-4 ml-sm-0">
                            <div class="btn-group mb-4">
                                <span class="btn btn-dark ml-3">
                                    <input type="checkbox">
                                </span>
                                <button class="btn btn-dark" type="button">
                                    <i class="ti-reload"></i>
                                </button>
                            </div>
                        </div>
                        <div class="email-list mt-4">
                            @foreach (var item in Model)
                            {
                                var tarih = item.OlusturmaTarihi;
                                string gosterilecekZaman;

                                if (tarih.Date == DateTime.Today)
                                {
                                    gosterilecekZaman = tarih.ToString("HH:mm");
                                }
                                else
                                {
                                    var gun = tarih.Day;
                                    var ay = turkceAylar[tarih.Month];
                                    gosterilecekZaman = $"{gun} {ay}";
                                }

                                <div class="message">
                                    <div>
                                        <div class="d-flex message-single">
                                            <div class="custom-control custom-checkbox pl-4">
                                                <input type="checkbox" />
                                            </div>
                                            <div class="ml-2">
                                                <button class="border-0 bg-transparent align-middle p-0">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="col-mail col-mail-2">
                                            <div class="subject">
                                                @item.Mesaj.Substring(0, Math.Min(item.Mesaj.Length, 150))...
                                            </div>
                                            <div class="date">@gosterilecekZaman</div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- panel -->
                        <div class="row mt-4 m-4 mx-sm-4">
                            <div class="col-7">
                                <div class="text-left">1 - 20 of 568</div>
                            </div>
                            <div class="col-5">
                                <div class="btn-group float-right">
                                    <button class="btn btn-dark" type="button">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                    <button class="btn btn-dark" type="button">
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>