<!-- slider -->
    <section class="main-slider centred">
        <div class="main-slider-carousel owl-carousel owl-theme" style="background-image:url(img/content/slide/2-rx1150x700.jpg);">

            <div class="slide" style="background-image:url(img/content/slide/2-rx1150x700.jpg);">
                <div class="container">
                    <div class="content-box">
                        <div class="top-text" style="font-size: 56px; font-weight: bold; color: #ffffff; text-shadow: 3px 3px 6px rgba(0,0,0,0.7);">
                            Konya Hayvan Hastanesi
                        </div>
                        <div class="text-white"></div>
                        <h2 style="font-size: 42px; font-weight: bold; color: #ffffff; text-shadow: 2px 2px 4px rgba(0,0,0,0.6);">
                            Hoş Geldiniz
                        </h2>
                        <div class="slider-btn d-none"><a href="#" class="theme-btn">Detaylar</a></div>
                    </div>
                </div>
            </div>


            <div class="slide" style="background-image:url(img/content/slide/3-rx1000x1200.jpg)">
                <div class="container">
                    <div class="content-box">
                        <div class="text-white" style="min-height: 100%"></div>

                    </div>
                </div>
            </div>
            <div class="slide" style="background-image:url(img/content/slide/4-rx1400x800.jpg)">
                <div class="container">
                    <div class="content-box">
                        <div class="text-white" style="min-height: 50vh;"></div>

                    </div>
                </div>
            </div>
            <div class="slide" style="background-image:url(img/content/slide/5-rx1400x800.jpg)">
                <div class="container">
                    <div class="content-box">
                        <div class="text-white" style="min-height: 50vh;"></div>

                    </div>
                </div>
            </div>
            <div class="slide" style="background-image:url(img/content/slide/6-rx1400x800.jpg)">
                <div class="container">
                    <div class="content-box">
                        <div class="text-white" style="min-height: 50vh;"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //slider -->
    <!-- Hakkımızda -->
    <section class="welcome-section sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box centred">
                        <div class="sec-title">
                            <h1>Konya Hayvan Hastanesi</h1>
                        </div>

                        <div class="text" style="text-align: center; max-width: 800px; margin: 0 auto;">
                            Konya Hayvan Hastanemize Hoşgeldiniz.<br />
                            Konya Hayvan Hastanesi olarak, yalnızca hayvanların hastalıklarını değil, onların yaşam kalitelerini de önemsiyoruz. Her biri ailenizin bir ferdi olan dostlarımızın sağlığına, mutluluğuna ve güvenliğine en az sizin kadar değer veriyoruz. Bilimsel bilgiyle şefkati bir araya getiriyor, modern teknolojiyle geleneksel veterinerlik anlayışını harmanlayarak minik dostlarınıza hak ettikleri en iyi bakımı sunuyoruz. Çünkü biz, sağlıklı patilerin huzurlu bir evin anahtarı olduğuna inanıyoruz.
                        </div>

                        <div style="display: flex; justify-content: center; margin-top: 20px;">
                            <div style="display: flex; align-items: center; gap: 8px; font-size: 18px; font-weight: bold;">
                                <i style="font-size: 16px; color: #c4151c;" class="flaticon-phone-call"></i>
                                <a href="tel:05326290332" style="text-decoration: none; color: #333; transition: color 0.3s ease;"
                                   onmouseover="this.style.color='#c4151c'"
                                   onmouseout="this.style.color='#333'">
                                    0 532 629 0 332
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image"><img style="width: 420px;height: 420px;" src="img/content/images/pages/95-rx420x420.jpg" loading="lazy" onError="this.src='content/assets/images/resimyok.png';" alt="Hakkımızda"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Hakkımızda -->
    <!-- Neler Yaparız -->
    <section class="service-section sec-pad centred gray-bg">
        <div class="container">
            <div class="sec-title alternate-color" style="text-align: center; position: relative; top: -20px;">
                <h1>Neler Yaparız</h1>
            </div>
            <div class="inner-content">
                <div class="row">





                    <div class="col-lg-4 col-md-6 col-sm-12 service-column wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service-block-one">
                            <figure class="image-box"><a href="#"><img loading="lazy" style="width: 180px;height: 180px;" src="img/content/images/pages/103-150x150.jpg" onerror="this.src='content/assets/images/resimyok.png';" alt="Yurt Dışı İşlemleri"></a></figure>
                            <div class="lower-content">
                                <h2><a href="#">Yurt Dışı İşlemleri</a></h2>
                                <div class="text">Yurt dışı çıkış prosedürleri hayvanın yaşı, ırkı ve gideceği ülkeye göre değişmektedir. Yurt dışına çıkarılacak olan kedi, köpek ve...</div>
                                <div class="link"><a href="#">Devamını gör</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12 service-column wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service-block-one">
                            <figure class="image-box"><a href="#"><img loading="lazy" style="width: 180px;height: 180px;" src="img/content/images/pages/104-150x150.jpg" onerror="this.src='content/assets/images/resimyok.png';" alt="Genel Cerrahi"></a></figure>
                            <div class="lower-content">
                                <h2><a href="#">Genel Cerrahi</a></h2>
                                <div class="text">


                                    Kliniğimizde cerrahi operasyonlar, konusunda uzman hekimlerimiz tarafından gerektiğinde 724 tam donanımlı ameliyathanemizde yapılabil...
                                </div>
                                <div class="link"><a href="#">Devamını gör</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12 service-column wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service-block-one">
                            <figure class="image-box"><a href="#"><img loading="lazy" style="width: 180px;height: 180px;" src="img/content/images/pages/105-150x150.jpg" onerror="this.src='content/assets/images/resimyok.png';" alt="Ortopedi"></a></figure>
                            <div class="lower-content">
                                <h2><a href="#">Ortopedi</a></h2>
                                <div class="text">

                                    Merkezimizde yapılan ortopedik ameliyatlar;

                                    - TPO  Osteosentez
                                    - Juvenil Pubik Simfizyodaz
                                    - Total Kalça Protezi
                                    - Hemipelvektomi...
                                </div>
                                <div class="link"><a href="#">Devamını gör</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12 service-column wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service-block-one">
                            <figure class="image-box"><a href="#"><img loading="lazy" style="width: 180px;height: 180px;" src="img/content/images/pages/106-150x150.jpg" onerror="this.src='content/assets/images/resimyok.png';" alt="Aşı Uygulaması"></a></figure>
                            <div class="lower-content">
                                <h2><a href="#">Aşı Uygulaması</a></h2>
                                <div class="text">
                                    Evcil dostlarımızın en büyük sağlık problemlerinden biri iç hastalıklarıdır.

                                    Tedavi sürecinde ortaya çıkan engeller, tedavi devamlılığı...
                                </div>
                                <div class="link"><a href="#">Devamını gör</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12 service-column wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service-block-one">
                            <figure class="image-box"><a href="#"><img loading="lazy" style="width: 180px;height: 180px;" src="img/content/images/pages/107-150x150.jpg" onerror="this.src='content/assets/images/resimyok.png';" alt="Onkoloji"></a></figure>
                            <div class="lower-content">
                                <h2><a href="#">Onkoloji</a></h2>
                                <div class="text">Kedilerde ve köpeklerde oldukça sık karşılaşılan tümöral olguların tanısı ve tedavisi, günümüzde uygulanan operatif ve konservatif...</div>
                                <div class="link"><a href="#">Devamını gör</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12 service-column wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service-block-one">
                            <figure class="image-box"><a href="#"><img loading="lazy" style="width: 180px;height: 180px;" src="img/content/images/pages/108-150x150.jpg" onerror="this.src='content/assets/images/resimyok.png';" alt="Doğum"></a></figure>
                            <div class="lower-content">
                                <h2><a href="#">Doğum</a></h2>
                                <div class="text">







                                    Temel olarak doğuma yardım, doğum kanalı içerisinden yavrunun geçişini kolaylaştırmak ya da kasılma gücünü yitirmiş...
                                </div>
                                <div class="link"><a href="#">Devamını gör</a></div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        <div class="button-box"><a asp-controller="Hizmetlerimiz" asp-action="Hizmetlerimiz" class="theme-btn">Tüm Hizmetlerimiz</a></div>
        </div>
    </section>
    <!-- //Neler Yaparız -->




