
    <!-- Başlik -->
    <section class="page-title centred" style="background-image: url(/img/content/images/pages/.html);">
        <div class="container">
            <h1>Hakkımızda</h1>
        </div>
    </section>
    <!-- //Başlik -->
    <!-- Bread Cr -->
   
    <!-- //Bread Cr -->
    <!-- İçerik Alanı -->
    <section class="about-style-three">
        <div class="container">

            <div class="inner-content">
                <div class="lower-content centred">
                    <div class="text icerik">
                        <p>Konya Hayvan Hastanesi 2000 yılında Umut Vet olarak sektöre başlamıştır.</p>

                        <p>Eryaman Veteriner bu değişime ve gelişime ayak uydurarak değişimin ve gelişimin Ankara&rsquo;daki öncüsü olmuştur. Şu anda üç katlı binasında konusunda uzman veteriner hekimler tarafından ilgili hastalıklara karşı en son bilimsel teknikler kullanılabilmektedir.</p>

                        <p>Değerli dostlarınıza daha iyi bir hizmet verebilmek adına sizi de merkezimize bekleriz. Daha kaliteli, daha özel ve daha doğru hizmet için bizi arayın.</p>

                        <br>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //İçerik Alanı -->


